/* ========================================
   GLOBAL
======================================== */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #111111;
}


/* ========================================
   TYPOGRAPHY
======================================== */

h1,
h2,
h3,
p {
    margin-top: 0;
}


/* ========================================
   HEADER
======================================== */

header {
    padding: 2rem;
}


/* ========================================
   MAIN
======================================== */

main {
    padding: 2rem;
}


/* ========================================
   SECTIONS
======================================== */

section {
    margin-bottom: 4rem;
}


/* ========================================
   FOOTER
======================================== */

footer {
    padding: 2rem;
}
